@import "../base/variables";
@import "./logo";
@import "./header-link";

.header {
  position: relative;

  padding: 46px 60px 0;
  margin-top: 40px;
  background-color: $yellow;

  &__logo {
    position: absolute;
    top: -22px;
    left: 60px;
  }

  &__top-container {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
  }

  // search
  &__search {
    position: relative;

    margin-right: 26px;

    &-input {
      width: 359px;
      padding: 10px;
      padding-left: 48px;
      border-radius: 50px 0 0 50px;
      border: 2px solid $black;
      background-color: inherit;

      color: $black;
      font-size: 16px;
      line-height: 20px;

      &:placeholder-shown {
        color: rgba($black, 0.3);
      }

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:focus-visible ~ &-before {
        position: absolute;
        top: -3px;
        bottom: -3px;
        right: 157px;
        left: -3px;
        z-index: 1;
        border: 2px solid $purple;
      }

      &:disabled {
        opacity: 0.3;
      }

      &:disabled ~ &-label {
        opacity: 0.3;
      }

      &-label {
        cursor: text;

        &::before {
          position: absolute;
          top: 13px;
          left: 16px;
          z-index: 1;

          background-image: url("../images/icons/search.svg");
          background-repeat: no-repeat;
          background-size: 16px 16px;

          width: 16px;
          height: 16px;

          content: "";
        }
      }
    }

    &-button {
      position: relative;

      width: 160px;
      padding: 10px 56px;
      border: 2px solid $black;
      border-left: none;
      border-radius: 0px 50px 50px 0px;
      background-color: inherit;
      cursor: pointer;
      transition: all 0.2s;

      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: $black;
      outline: none;

      &:hover {
        background-color: $black;
        color: $white;
      }

      &:active {
        background-color: $black;
        color: rgba($white, 0.3);

        &:focus-visible {
          color: $white;
        }
      }

      &:focus-visible::after {
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;

        border: 2px solid $purple;

        content: "";
      }
    }
  }

  &__right-container {
    display: grid;
    grid-template-columns: 105px 117px;
    gap: 10px 18px;
  }

  // account
  &__account {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 231px;
    margin-right: 24px;

    &-link {
      position: relative;

      padding-left: 27px;

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;

        background-image: url("../images/icons/account.svg");
        background-repeat: no-repeat;
        background-size: 13px 12px;

        width: 13px;
        height: 12px;
        content: "";
      }
    }
  }

  // compare
  &__compare-link {
    position: relative;

    padding-left: 22px;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      background-image: url("../images/icons/compare.svg");
      background-repeat: no-repeat;
      background-size: 10px 12px;

      width: 10px;
      height: 12px;
      content: "";
    }
  }

  // cart
  &__cart {
    position: relative;

    display: flex;

    &:focus-within &-popover-container {
      display: block;
    }

    &-button {
      position: relative;

      padding-left: 33px;
      text-align: center;

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;

        background-image: url("../images/icons/cart.svg");
        background-repeat: no-repeat;
        background-size: 16px 14px;

        width: 16px;
        height: 14px;
        content: "";
      }
    }

    &-count {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -7px;
      z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 14px;
      line-height: 17px;

      background-color: $white;

      width: 21px;
      height: 21px;
      border-radius: 50%;
    }

    &-popover {
      position: absolute;
      top: 40px;
      left: -130px;
      z-index: 2;

      display: flex;
      flex-direction: column;

      background-color: $black;

      width: 320px;

      &::before {
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);

        width: 10px;
        height: 10px;
        background-color: $black;
        transform: rotate(45deg);

        content: "";
      }

      &-none {
        display: flex;
        justify-content: center;

        font-size: 18px;
        line-height: 20px;
        color: $white;

        margin: 20px;
      }

      &-calculation {
        display: flex;
        justify-content: space-between;

        background-color: $lighter-black;

        padding: 16px 20px;
      }

      &-text {
        font-size: 16px;
        line-height: 20px;
        color: $white;
      }

      &-link {
        display: flex;
        flex-direction: column;

        font-family: "Raleway";
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.2em;
        color: $black;
        text-transform: uppercase;
        text-decoration: none;

        background-color: $white;

        margin: 20px;
        padding: 15px 23px;
      }
    }
  }

  // navigation
  &__navigation {
    display: flex;
    justify-content: space-between;

    // navigation list
    &-list {
      display: flex;

      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: auto;
    }

    &-item {
      display: flex;

      &:not(:last-child) {
        margin-right: 45px;
      }
    }

    &-link {
      font-family: 'Raleway';
      font-weight: 800;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
  }

  // catalog
  &__catalog {
    position: relative;

    display: flex;
    align-items: center;

    width: 293px;
    margin-right: 60px;

    &:focus-within {
      & .header__catalog-lists-container {
        display: block;
      }

      & .header__catalog-plus {
        display: none;
      }

      & .header__catalog-minus {
        display: block;
      }
    }

    &-text {
      font-family: "Raleway";
      font-weight: 800;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: $black;

      margin-right: 7px;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50px;
      height: 50px;
      border-radius: 50%;
      opacity: 0.3;
      background-color: inherit;
      outline: none;
      transition: all 0.2s;

      &:hover {
        opacity: 1;
      }

      &:focus-visible {
        opacity: 1;
      }

      &:focus-visible::after {
        position: absolute;
        top: -2px;
        bottom: 0;
        left: -2px;
        right: -2px;

        border: 2px solid $purple;

        content: "";
      }
    }

    &-lists {
      position: absolute;
      top: 101%;
      left: -60px;
      z-index: 1;

      display: flex;

      background-color: $yellow;

      padding: 15px 60px 60px;

      width: $container-width;
    }

    &-list {
      list-style: none;

      margin: 0;
      padding: 0;
      max-width: 220px;

      &:not(:last-child) {
        margin-right: 60px;
      }
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &-link {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
