@import "../base/variables";

.header-link {
  position: relative;

  display: flex;
  align-items: center;

  text-decoration: none;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 2px solid $purple;
  }
}
