@import "../base/variables";
@import "./logo";

// header's components
@import "./header/header-link";
@import "./header/search";
@import "./header/cart";
@import "./header/account";
@import "./header/compare";
@import "./header/navigation";
@import "./header/catalog";


.header {
  position: relative;

  padding: 46px 60px 0;
  margin-top: 40px;
  background-color: $yellow;

  &__logo {
    position: absolute;
    top: -22px;
    left: 60px;
  }

  &__top-container {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 30px;
  }

  &__right-container {
    display: grid;
    grid-template-columns: 105px 117px;
    gap: 10px 18px;
  }
}
