@import "../base/variables";
@import "./link";

.hero {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    background-color: $yellow;

    height: 136px;

    content: "";
  }

  &__slider {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      display: none;

      &--current {
        display: flex;
      }
    }

    &-image {
      width: 560px;
      height: 560px;

      margin-right: 40px;
    }

    &-button {
      position: absolute;
      top: 40%;

      background-color: inherit;
      background-repeat: no-repeat;
      border: none;

      width: 20px;
      height: 60px;
      padding: 0;
    }

    &-prev {
      left: 30px;
      background-image: url("../images/arrows/slider-left-arrow.svg");
    }

    &-next {
      left: 545px;
      background-image: url("../images/arrows/slider-right-arrow.svg");
    }

    &-pagination {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(50%);

      display: flex;
      flex-wrap: wrap;

      margin: 0;
      padding: 0;
      list-style: none;

      &-item:not(:last-child) {
        margin-right: 20px;
      }

      &-button {
        background-color: inherit;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        border: 2px solid $black;
        padding: 0;

        &--active {
          background-color: $black;
        }
      }
    }

    &-current-slide {
      position: absolute;
      right: 49px;
      top: 62px;
      z-index: -1;

      font-weight: 700;
      font-size: 180px;
      line-height: 30px;
      color: $white;

      margin: 0;
    }
  }

  &__descr {
    &-title {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 50px;

      color: $black;

      margin: 0;
      margin-top: 105px;
      margin-bottom: 29px;
    }

    &-text {
      margin: 0;
      margin-bottom: 50px;
    }

    &-link {
      margin-bottom: 50px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;

      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      max-width: 160px;

      &:not(last-child) {
        margin-right: 20px;
      }
    }

    &-value {
      font-size: 36px;
      color: $black;
      margin: 0;
      margin-bottom: 12px;
    }

    &-explanation {
      font-size: 16px;
      margin: 0;
    }
  }
}
