@import "../base/variables";

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: inherit;

  &::before {
    position: absolute;
    top: 16px;
    bottom: 17px;
    z-index: -1;

    background-color: $yellow;

    transition: top 0.5s, bottom 0.5s;
    width: 100%;
    content: "";
  }

  &:hover::before {
    top: 0;
    bottom: 0;
  }

  &:active::before {
    background-color: $orange;
  }

  &:focus-visible {
    outline: 2px solid $purple;
  }

  &:disabled {
    opacity: 0.3;
  }
}
