@import "../base/variables";

.logo {
  position: relative;
  outline: none;
  transition: all 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible::after {
    @extend %focus-pseudoclass;
  }
}
