@import "../base/variables";

.mailing {
  background-color: $lighter;
  padding-top: 64px;
  padding-bottom: 56px;

  &__container {
    position: relative;
  }

  &__text-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 144px;
  }

  &__title {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: $black;

    margin: 0;
    margin-right: 252px;
  }

  &__text {
    margin: 0;
  }

  &__form {
    display: flex;
    align-items: end;
  }

  &__input {
    width: 557px;
    padding: 11px 16px;
    border: none;
    border-bottom: 3px solid $lighter-gray;
    background-color: inherit;
    outline: none;

    font-size: 18px;
    line-height: 30px;
    color: $black;

    &:placeholder-shown {
      font-size: 18px;
      line-height: 30px;
      color: $dark-gray;
      opacity: 0.5;
    }
  }

  &__submit {
    width: 253px;
    background-color: inherit;
    border: 3px solid $lighter-gray;
    padding: 15px 39px;

    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__post-scriptum {
    position: absolute;
    right: 0;
    bottom: 0;

    margin: 0;
    margin-bottom: 14px;

    &::after {
      position: absolute;
      top: 7px;
      left: -25px;

      background-image: url("../images/icons/checkbox-free.svg");
      background-repeat: no-repeat;

      width: 15px;
      height: 14px;
      content: "";
    }
  }
}
