@import "../../base/variables";

.delivery {
  position: relative;

  &__link {
    position: relative;

    display: flex;

    text-decoration: none;
    color: $black;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;

      background-color: $lighter;

      content: "";
    }
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 125px;
    height: 100px;

    background-color: $yellow;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Raleway";
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    flex-grow: 1;
  }

  &__info {
    position: absolute;
    top: 30px;
    right: 43px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(220, 220, 220, 0.5);

    width: 40px;
    height: 40px;
    border-radius: 50%;

    &-icon {
      opacity: 0.3;
    }
  }
}
