@import "../../base/variables";

.modal {
  &__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(240, 240, 240, 0.9);
  }

  &__form {
    position: relative;

    width: 920px;
    border: 10px solid $black;
    box-shadow: 0px 10px 0px rgba($black, 0.1);
    background-color: $white;
    padding: 62px 70px 72px;
  }

  &__title {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: $black;
    margin: 0;
    margin-bottom: 42px;
  }

  &__exit {
    position: absolute;
    top: 84px;
    right: 80px;

    border: none;
    width: 26px;
    height: 26px;
    padding: 0;
    background-color: inherit;
    background-image: url("../images/icons/close.svg");
    background-repeat: no-repeat;
    outline: none;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &:focus-visible::before {
      @extend %focus-pseudoclass;
    }
  }

  &__top-container {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    column-gap: 40px;

    margin-bottom: 42px;
  }

  &__label {
    position: relative;

    display: block;

    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: $black;
    cursor: pointer;

    &-text {
      display: block;
      margin-bottom: 14px;
    }
  }

  &__input {
    position: relative;

    padding: 20px;
    width: 100%;
    border: none;
    background-color: $lighter;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black;

    &:placeholder-shown {
      font-size: 16px;
      line-height: 20px;
      color: rgba($black, 0.3);
    }

    &:hover:not(:disabled) {
      background-color: $gray;
    }

    &:focus-visible {
      z-index: 1;
      outline: 2px solid $purple;
    }

    &:disabled {
      opacity: 0.3;
    }

    &:invalid:not(:placeholder-shown) {
      outline: 2px solid $error;
    }
  }

  &__name {
    &::after {
      position: absolute;
      top: 60px;
      right: 25px;
      z-index: 2;

      background-image: url("../images/icons/account.svg");
      background-repeat: no-repeat;
      background-position: center;

      width: 13px;
      height: 12px;
      opacity: 0.3;
      content: "";
    }
  }

  &__email {
    &-text {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: $black;
      margin: 0;
    }

    &-input:invalid ~ &-text {
      color: $error;
    }

    &::after {
      position: absolute;
      top: 60px;
      right: 25px;
      z-index: 2;

      width: 15px;
      height: 12px;
      opacity: 0.3;

      background-image: url("../images/icons/mail.svg");
      background-repeat: no-repeat;
      background-position: center;

      content: "";
    }
  }

  &__tooltip {
    &-container  {
      position: absolute;
      top: -3px;
      right: 36px;

      display: inline-block;

      width: 26px;
      height: 26px;
      background-color: $yellow;
      background-image: url("../images/icons/info.svg");
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      cursor: pointer;

      margin-left: 8px;
    }

    &-container:hover > & {
      display: block;
    }

    position: absolute;
    bottom: -170px;
    right: -25px;
    z-index: 3;

    color: $white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    background-color: $black;
    padding: 19px;
    width: 200px;

    &::before {
      position: absolute;
      top: -3px;
      right: 30px;

      background-color: $black;

      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      content: "";
    }
  }

  &__bottom-container {
    display: grid;
    grid-template-columns: 540px 180px;
    column-gap: 40px;

    margin-bottom: 42px;
  }

  &__count {
    display: grid;
    grid-template-columns: repeat(3, 60px);

    &-input {
      padding: 0;
      height: 60px;
      text-align: center;

      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    &-minus {
      background-image: url("../images/icons/minus.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &-plus {
      background-image: url("../images/icons/plus.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__submit {
    z-index: 3;
    width: 191px;
  }
}
