@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $dark-gray;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide {
  display: none;
}

input {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

%focus-pseudoclass {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;

  border: 2px solid $purple;
  content: "";
}
