// colors
$yellow: #ffe17f;
$dark-gray: #444444;
$black: #000000;
$lighter-black: #1a1a1a;
$white: #ffffff;
$lighter: #f0f0f0;
$lighter-gray: #c4c4c4;
$orange: #ffc700;

// widths
$container-width: 1160px;
