@import "../../base/variables";

.header__cart {
  position: relative;

  display: flex;

  &-button {
    position: relative;

    padding-left: 33px;
    text-align: center;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;

      background-image: url("../images/icons/cart.svg");
      background-repeat: no-repeat;
      background-size: 16px 14px;

      width: 16px;
      height: 14px;
      content: "";
    }
  }

  &-count {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -7px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 17px;

    background-color: $white;

    width: 21px;
    height: 21px;
    border-radius: 50%;
  }

  &-popover {
    position: absolute;
    top: 40px;
    left: -130px;
    z-index: 2;

    display: flex;
    flex-direction: column;

    background-color: $black;

    width: 320px;

    &::before {
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);

      width: 10px;
      height: 10px;
      background-color: $black;
      transform: rotate(45deg);

      content: "";
    }

    &-none {
      display: flex;
      justify-content: center;

      font-size: 18px;
      line-height: 20px;
      color: $white;

      margin: 20px;
    }

    &-calculation {
      display: flex;
      justify-content: space-between;

      background-color: $lighter-black;

      padding: 16px 20px;
    }

    &-text {
      font-size: 16px;
      line-height: 20px;
      color: $white;
    }

    &-link {
      position: relative;

      display: flex;
      flex-direction: column;

      font-family: "Raleway";
      font-weight: 800;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.2em;
      color: $black;
      text-transform: uppercase;
      text-decoration: none;
      outline: none;

      background-color: $white;

      margin: 20px;
      padding: 15px 23px;

      &:hover:not(:disabled) {
        background-color: $yellow;
      }

      &:active:not(:disabled) {
        background-color: $yellow;
        color: rgba($black, 0.3);
      }

      &:focus-visible::after {
        @extend %focus-pseudoclass;
      }

      &:disabled {
        color: rgba($black, 0.3);
      }
    }
  }
}
