@import "../../base/variables";

.header-link {
  position: relative;

  display: flex;
  align-items: center;

  text-decoration: none;
  color: $black;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: 2px solid $purple;
  }

  &--active::after {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -5px;

    background-color: $black;

    height: 2px;
    content: "";
  }
}
