@charset "UTF-8";
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide {
  display: none;
}

input {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

.footer__html-academy-link:focus-visible::before, .footer__phone:focus-visible::before, .footer__social-link:focus-visible::after, .footer__link:focus-visible::before, .goods__pagination-button:focus-visible::before, .goods__button:focus-visible::before, .goods__sorting-select-container:focus-within::after, .filter__bluetooth-radio:focus-visible ~ span::after, .filter__color-checkbox:focus-visible ~ span::after, .filter__price-range:focus-visible::before, .main-header__breadcrumbs-link:focus-visible::after, .header__cart-popover-link:focus-visible::after, .logo:focus-visible::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border: 2px solid #af4fff;
  content: "";
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
.link::before {
  position: absolute;
  top: 16px;
  bottom: 17px;
  z-index: -1;
  background-color: #ffe17f;
  transition: top 0.5s, bottom 0.5s;
  width: 100%;
  content: "";
}
.link:hover::before {
  top: 0;
  bottom: 0;
}
.link:active::before {
  background-color: #ffc700;
}
.link:focus-visible {
  outline: 2px solid #af4fff;
}
.link:disabled {
  opacity: 0.3;
}

.logo {
  position: relative;
  outline: none;
  transition: all 0.2s;
}
.logo:hover {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.3;
}
.header-link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  transition: opacity 0.2s;
}
.header-link:hover {
  opacity: 0.6;
}
.header-link:active {
  opacity: 0.3;
}
.header-link:focus-visible {
  outline: 2px solid #af4fff;
}
.header-link--active::after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -5px;
  background-color: #000000;
  height: 2px;
  content: "";
}

.header__search {
  position: relative;
  margin-right: 26px;
}
.header__search-input {
  width: 359px;
  padding: 10px;
  padding-left: 48px;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  background-color: inherit;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}
.header__search-input:placeholder-shown {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input:focus, .header__search-input:focus-visible {
  outline: none;
}
.header__search-input:focus-visible ~ .header__search-input-before {
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: 157px;
  left: -3px;
  z-index: 1;
  border: 2px solid #af4fff;
}
.header__search-input:disabled {
  opacity: 0.3;
}
.header__search-input:disabled ~ .header__search-input-label {
  opacity: 0.3;
}
.header__search-input-label {
  cursor: text;
}
.header__search-input-label::before {
  position: absolute;
  top: 13px;
  left: 16px;
  z-index: 1;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  content: "";
}
.header__search-button {
  position: relative;
  width: 160px;
  padding: 10px 56px;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0px 50px 50px 0px;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  outline: none;
}
.header__search-button:hover {
  background-color: #000000;
  color: #ffffff;
}
.header__search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}
.header__search-button:active:focus-visible {
  color: #ffffff;
}
.header__search-button:focus-visible::after {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid #af4fff;
  content: "";
}

.header__cart {
  position: relative;
  display: flex;
}
.header__cart-button {
  position: relative;
  padding-left: 33px;
  text-align: center;
}
.header__cart-button::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  width: 16px;
  height: 14px;
  content: "";
}
.header__cart-count {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -7px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffffff;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}
.header__cart-popover {
  position: absolute;
  top: 40px;
  left: -130px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 320px;
}
.header__cart-popover::before {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #000000;
  transform: rotate(45deg);
  content: "";
}
.header__cart-popover-none {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  margin: 20px;
}
.header__cart-popover-calculation {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 16px 20px;
}
.header__cart-popover-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header__cart-popover-link {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  background-color: #ffffff;
  margin: 20px;
  padding: 15px 23px;
}
.header__cart-popover-link:hover:not(:disabled) {
  background-color: #ffe17f;
}
.header__cart-popover-link:active:not(:disabled) {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}
.header__cart-popover-link:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.header__account {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 231px;
  margin-right: 24px;
}
.header__account-link {
  position: relative;
  padding-left: 27px;
}
.header__account-link::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url("../images/icons/account.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  width: 13px;
  height: 12px;
  content: "";
}

.header__compare-link {
  position: relative;
  padding-left: 22px;
}
.header__compare-link::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url("../images/icons/compare.svg");
  background-repeat: no-repeat;
  background-size: 10px 12px;
  width: 10px;
  height: 12px;
  content: "";
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}
.header__navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}
.header__navigation-item {
  display: flex;
}
.header__navigation-item:not(:last-child) {
  margin-right: 45px;
}
.header__navigation-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header__catalog {
  position: relative;
  display: flex;
  align-items: center;
  width: 293px;
  margin-right: 60px;
}
.header__catalog-text {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 7px;
}
.header__catalog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000000;
  opacity: 0.3;
  background-color: inherit;
  outline: none;
  transition: all 0.2s;
}
.header__catalog-button:hover {
  opacity: 1;
}
.header__catalog-button:focus-visible {
  opacity: 1;
}
.header__catalog-button:focus-visible::after {
  position: absolute;
  top: -2px;
  bottom: 0;
  left: -2px;
  right: -2px;
  border: 2px solid #af4fff;
  content: "";
}
.header__catalog-lists {
  position: absolute;
  top: 100%;
  left: -60px;
  z-index: 1;
  display: flex;
  background-color: #ffe17f;
  padding: 15px 60px 60px;
  width: 1160px;
}
.header__catalog-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 220px;
}
.header__catalog-list:not(:last-child) {
  margin-right: 60px;
}
.header__catalog-item:not(:last-child) {
  margin-bottom: 24px;
}
.header__catalog-link {
  font-size: 16px;
  line-height: 18px;
}

.header {
  position: relative;
  padding: 46px 60px 0;
  margin-top: 40px;
  background-color: #ffe17f;
}
.header__logo {
  position: absolute;
  top: -22px;
  left: 60px;
}
.header__top-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.header__right-container {
  display: grid;
  grid-template-columns: 105px 117px;
  gap: 10px 18px;
}

.main-header__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 16px;
}
.main-header__breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}
.main-header__breadcrumbs-item {
  position: relative;
  margin-right: 36px;
  margin-bottom: 10px;
}
.main-header__breadcrumbs-item:last-child {
  margin: 0;
  cursor: default;
}
.main-header__breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 11px;
  right: -21px;
  background-image: url("../images/arrows/breadcrumbs-arrow.svg");
  opacity: 0.3;
  width: 4px;
  height: 8px;
  content: "";
}
.main-header__breadcrumbs-link {
  position: relative;
  text-decoration: none;
  color: #000000;
  transition: all 0.2s;
  outline: none;
}
.main-header__breadcrumbs-link:hover {
  opacity: 0.6;
}
.main-header__breadcrumbs-link:active {
  opacity: 0.3;
}
.filter {
  padding: 25px 60px 0;
}
.filter__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 60px;
}
.filter__fieldset {
  position: relative;
  border: none;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}
.filter__fieldset::before {
  position: absolute;
  top: -52px;
  right: 0;
  left: 0;
  height: 2px;
  background-color: #000000;
  content: "";
}
.filter__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 0;
  margin-bottom: 20px;
}
.filter__text {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-left: 36px;
}
.filter__price-ranges {
  position: relative;
  margin-bottom: 21px;
}
.filter__price-ranges::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  background-color: #dcdcdc;
  content: "";
}
.filter__price-range-line {
  position: absolute;
  left: 5px;
  right: 50%;
  top: 0;
  height: 2px;
  background-color: #000000;
}
.filter__price-range {
  position: absolute;
  z-index: 1;
  top: -9px;
  width: 100%;
  background-color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  pointer-events: none;
  outline: none;
}
.filter__price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #dcdcdc;
  pointer-events: auto;
  cursor: grab;
  transition: all 0.1s;
}
.filter__price-range::-webkit-slider-thumb:active {
  cursor: grabbing;
}
.filter__price-range::-moz-range-thumb {
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #dcdcdc;
  pointer-events: auto;
  cursor: grab;
  transition: all 0.1s;
}
.filter__price-range::-moz-range-thumb:active {
  cursor: grabbing;
}
.filter__price-inputes {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.filter__price-inputes-text {
  margin-right: 4px;
}
.filter__price-input {
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  width: 50%;
  -moz-appearance: textfield;
}
.filter__price-input::-webkit-outer-spin-button, .filter__price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filter__color-container {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter__color-item {
  margin-bottom: 17px;
}
.filter__color-item:last-child {
  margin: 0;
}
.filter__color-label {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}
.filter__color-label:hover {
  opacity: 0.6;
}
.filter__color-label:active {
  opacity: 0.3;
}
.filter__color-checkbox ~ span::before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  content: "";
}
.filter__color-checkbox:checked ~ span::before {
  background-image: url("../images/icons/checkbox.svg");
  background-position: center 2px;
  background-repeat: no-repeat;
}
.filter__color-checkbox:disabled ~ span, .filter__color-checkbox:disabled ~ span::before {
  opacity: 0.1;
}
.filter__bluetooth-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter__bluetooth-item {
  position: relative;
  margin-bottom: 30px;
}
.filter__bluetooth-item:last-child {
  margin: 0;
}
.filter__bluetooth-label {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}
.filter__bluetooth-label:hover {
  opacity: 0.6;
}
.filter__bluetooth-label:active {
  opacity: 0.3;
}
.filter__bluetooth-radio ~ span::before {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #000000;
  width: 20px;
  height: 20px;
  content: "";
}
.filter__bluetooth-radio:checked ~ span::before {
  background-image: url("../images/icons/radio.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.filter__submit {
  width: 210px;
}

.goods__sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px;
}
.goods__sorting-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.goods__sorting-select {
  background-color: inherit;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  outline: none;
  padding-right: 30px;
  cursor: pointer;
}
.goods__sorting-select-container {
  position: relative;
}
.goods__sorting-select-container::before {
  position: absolute;
  top: 12px;
  right: 8px;
  background-image: url("../images/arrows/bottom-arrow.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 7px;
  transition: all 0.1s;
  content: "";
}
.goods__sorting-select-container:focus-within::before {
  transform: rotate(180deg);
}
.goods__sorting-buttons {
  display: flex;
  justify-content: space-between;
}
.goods__sorting-button {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: none;
  padding: 0;
}
.goods__sorting-button:focus-visible {
  outline: 2px solid #af4fff;
}
.goods__sorting-button-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}
.goods__sorting-button-icon:hover {
  opacity: 0.5;
}
.goods__sorting-button-icon:active {
  opacity: 1;
}
.goods__sorting-button-top .goods__sorting-button-icon {
  background-image: url("../images/arrows/top-bold-arrow.svg");
}
.goods__sorting-button-bottom .goods__sorting-button-icon {
  background-image: url("../images/arrows/bottom-bold-arrow.svg");
}
.goods__cards-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style: none;
}
.goods__cards-link {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  color: #444444;
}
.goods__cards-link::before {
  display: none;
  position: absolute;
  top: 161px;
  left: 68px;
  z-index: 1;
  background-color: #ffe17f;
  width: 224px;
  height: 8px;
  content: "";
}
.goods__cards-link::after {
  display: none;
  position: absolute;
  top: 155px;
  left: 108px;
  z-index: 2;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  content: "Подробнее";
}
.goods__cards-link:hover::before, .goods__cards-link:hover::after {
  display: block;
}
.goods__cards-link:active::before {
  background-color: #ffc700;
}
.goods__cards-link:hover .goods__cards-image-container::before, .goods__cards-link:active .goods__cards-image-container::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(240, 240, 240, 0.8);
  content: "";
}
.goods__cards-link:hover .goods__cards-descr {
  opacity: 0.6;
}
.goods__cards-link:active .goods__cards-descr {
  opacity: 0.3;
}
.goods__cards-link:focus-visible {
  outline: 2px solid #af4fff;
}
.goods__cards-descr {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.goods__cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  width: 226px;
  margin: 0;
}
.goods__cards-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.goods__cards-image {
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}
.goods__cards-image-container {
  position: relative;
}
.goods__button {
  position: relative;
  display: block;
  width: 100%;
  padding: 18px 0;
  background-color: inherit;
  border: 3px solid #e5e5e5;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  outline: none;
  margin-bottom: 44px;
}
.goods__button:hover:not(:disabled) {
  border-color: #000000;
}
.goods__button:active:not(:disabled) {
  opacity: 0.3;
  border-color: #000000;
}
.goods__button:disabled {
  opacity: 0.3;
  cursor: default;
}
.goods__pagination {
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  margin-bottom: 78px;
}
.goods__pagination-button {
  position: relative;
  padding: 25px;
  background-color: inherit;
  border: none;
  outline: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.goods__pagination-button:hover:not(:disabled) {
  background-color: #dcdcdc;
}
.goods__pagination-button:active:not(:disabled) {
  background-color: #dcdcdc;
  opacity: 0.3;
}
.goods__pagination-button:disabled {
  cursor: default;
  opacity: 0.3;
}
.goods__pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.goods__pagination-item {
  position: relative;
}
.goods__pagination-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  outline: none;
  padding: 10px 17px;
}
.goods__pagination-link:hover {
  opacity: 1;
}
.goods__pagination-link:active {
  opacity: 0.1;
}
.goods__pagination-link--current {
  opacity: 0.6;
}
.goods__pagination-link:focus-visible ~ .goods__pagination-link-focus::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid #af4fff;
  content: "";
}

.footer {
  position: relative;
  background-color: #444444;
  color: #ffffff;
}
.footer__container {
  display: flex;
}
.footer__left-container {
  margin-top: 62px;
  margin-right: 119px;
  width: 239px;
}
.footer__logo {
  display: inline-block;
  color: #ffc700;
  margin-bottom: 35px;
}
.footer__address {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.footer__address::before {
  position: absolute;
  left: 0;
  bottom: -64px;
  background-color: #ffc700;
  width: 80px;
  height: 7px;
  content: "";
}
.footer__central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 137px;
  margin-right: auto;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 128px);
  gap: 20px 35px;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
  list-style: none;
}
.footer__link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  outline: none;
}
.footer__link:hover {
  color: #ffc700;
}
.footer__link:hover::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  background-color: #ffc700;
  height: 2px;
  content: "";
}
.footer__link:active {
  opacity: 0.3;
}
.footer__social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 61px;
}
.footer__social-item {
  margin-right: 15px;
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444444;
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  outline: none;
}
.footer__social-link:hover {
  background-color: #ffc700;
}
.footer__social-link:active {
  color: rgba(68, 68, 68, 0.3);
}
.footer__right-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 140px;
}
.footer__phone {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 63px;
  outline: none;
  transition: all 0.2s;
}
.footer__phone:hover {
  color: #ffc700;
}
.footer__phone:active {
  opacity: 0.3;
}
.footer__html-academy-link {
  position: relative;
  color: #ffc700;
  outline: none;
  transition: all 0.2s;
}
.footer__html-academy-link:hover {
  color: #ffffff;
}
.footer__html-academy-link:active {
  opacity: 0.3;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.catalog-outer {
  position: relative;
}
.catalog-outer::before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  content: "";
}

.catalog-inner {
  display: grid;
  grid-template-columns: 320px 1fr;
}