@import "./base/base";
@import "./components/link";
@import "./components/header";
@import "./components/catalog/main-header";
@import "./components/footer";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}
