@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide {
  display: none;
}

input {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

.modal__exit:focus-visible::before, .footer__html-academy-link:focus-visible::before, .footer__phone:focus-visible::before, .footer__social-link:focus-visible::after, .footer__link:focus-visible::before, .delivery__link:focus-visible::after, .service__tab-button--active:focus-visible::before, .goods__link:focus-visible::before, .hero__slider-button:focus-visible::after, .header__cart-popover-link:focus-visible::after, .logo:focus-visible::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border: 2px solid #af4fff;
  content: "";
}

.logo {
  position: relative;
  outline: none;
  transition: all 0.2s;
}
.logo:hover {
  opacity: 0.6;
}
.logo:active {
  opacity: 0.3;
}
.header-link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  transition: opacity 0.2s;
}
.header-link:hover {
  opacity: 0.6;
}
.header-link:active {
  opacity: 0.3;
}
.header-link:focus-visible {
  outline: 2px solid #af4fff;
}
.header-link--active::after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -5px;
  background-color: #000000;
  height: 2px;
  content: "";
}

.header__search {
  position: relative;
  margin-right: 26px;
}
.header__search-input {
  width: 359px;
  padding: 10px;
  padding-left: 48px;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  background-color: inherit;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}
.header__search-input:placeholder-shown {
  color: rgba(0, 0, 0, 0.3);
}
.header__search-input:focus, .header__search-input:focus-visible {
  outline: none;
}
.header__search-input:focus-visible ~ .header__search-input-before {
  position: absolute;
  top: -3px;
  bottom: -3px;
  right: 157px;
  left: -3px;
  z-index: 1;
  border: 2px solid #af4fff;
}
.header__search-input:disabled {
  opacity: 0.3;
}
.header__search-input:disabled ~ .header__search-input-label {
  opacity: 0.3;
}
.header__search-input-label {
  cursor: text;
}
.header__search-input-label::before {
  position: absolute;
  top: 13px;
  left: 16px;
  z-index: 1;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  content: "";
}
.header__search-button {
  position: relative;
  width: 160px;
  padding: 10px 56px;
  border: 2px solid #000000;
  border-left: none;
  border-radius: 0px 50px 50px 0px;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  outline: none;
}
.header__search-button:hover {
  background-color: #000000;
  color: #ffffff;
}
.header__search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}
.header__search-button:active:focus-visible {
  color: #ffffff;
}
.header__search-button:focus-visible::after {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid #af4fff;
  content: "";
}

.header__cart {
  position: relative;
  display: flex;
}
.header__cart-button {
  position: relative;
  padding-left: 33px;
  text-align: center;
}
.header__cart-button::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  width: 16px;
  height: 14px;
  content: "";
}
.header__cart-count {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -7px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffffff;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}
.header__cart-popover {
  position: absolute;
  top: 40px;
  left: -130px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 320px;
}
.header__cart-popover::before {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #000000;
  transform: rotate(45deg);
  content: "";
}
.header__cart-popover-none {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  margin: 20px;
}
.header__cart-popover-calculation {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 16px 20px;
}
.header__cart-popover-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header__cart-popover-link {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  background-color: #ffffff;
  margin: 20px;
  padding: 15px 23px;
}
.header__cart-popover-link:hover:not(:disabled) {
  background-color: #ffe17f;
}
.header__cart-popover-link:active:not(:disabled) {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}
.header__cart-popover-link:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.header__account {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 231px;
  margin-right: 24px;
}
.header__account-link {
  position: relative;
  padding-left: 27px;
}
.header__account-link::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url("../images/icons/account.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  width: 13px;
  height: 12px;
  content: "";
}

.header__compare-link {
  position: relative;
  padding-left: 22px;
}
.header__compare-link::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url("../images/icons/compare.svg");
  background-repeat: no-repeat;
  background-size: 10px 12px;
  width: 10px;
  height: 12px;
  content: "";
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}
.header__navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}
.header__navigation-item {
  display: flex;
}
.header__navigation-item:not(:last-child) {
  margin-right: 45px;
}
.header__navigation-link {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header__catalog {
  position: relative;
  display: flex;
  align-items: center;
  width: 293px;
  margin-right: 60px;
}
.header__catalog-text {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 7px;
}
.header__catalog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000000;
  opacity: 0.3;
  background-color: inherit;
  outline: none;
  transition: all 0.2s;
}
.header__catalog-button:hover {
  opacity: 1;
}
.header__catalog-button:focus-visible {
  opacity: 1;
}
.header__catalog-button:focus-visible::after {
  position: absolute;
  top: -2px;
  bottom: 0;
  left: -2px;
  right: -2px;
  border: 2px solid #af4fff;
  content: "";
}
.header__catalog-lists {
  position: absolute;
  top: 100%;
  left: -60px;
  z-index: 1;
  display: flex;
  background-color: #ffe17f;
  padding: 15px 60px 60px;
  width: 1160px;
}
.header__catalog-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 220px;
}
.header__catalog-list:not(:last-child) {
  margin-right: 60px;
}
.header__catalog-item:not(:last-child) {
  margin-bottom: 24px;
}
.header__catalog-link {
  font-size: 16px;
  line-height: 18px;
}

.header {
  position: relative;
  padding: 46px 60px 0;
  margin-top: 40px;
  background-color: #ffe17f;
}
.header__logo {
  position: absolute;
  top: -22px;
  left: 60px;
}
.header__top-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.header__right-container {
  display: grid;
  grid-template-columns: 105px 117px;
  gap: 10px 18px;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
.link::before {
  position: absolute;
  top: 16px;
  bottom: 17px;
  z-index: -1;
  background-color: #ffe17f;
  transition: top 0.5s, bottom 0.5s;
  width: 100%;
  content: "";
}
.link:hover::before {
  top: 0;
  bottom: 0;
}
.link:active::before {
  background-color: #ffc700;
}
.link:focus-visible {
  outline: 2px solid #af4fff;
}
.link:disabled {
  opacity: 0.3;
}

.hero {
  position: relative;
}
.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #ffe17f;
  height: 136px;
  content: "";
}
.hero__slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hero__slider-item {
  display: none;
}
.hero__slider-item--current {
  display: flex;
}
.hero__slider-image {
  width: 560px;
  height: 560px;
  margin-right: 40px;
}
.hero__slider-button {
  position: absolute;
  top: 40%;
  background-color: inherit;
  background-repeat: no-repeat;
  border: none;
  width: 20px;
  height: 60px;
  padding: 0;
  transition: all 0.1s;
  outline: none;
}
.hero__slider-button:hover {
  opacity: 0.6;
}
.hero__slider-button:active {
  opacity: 0.3;
}
.hero__slider-button:disabled {
  opacity: 0.1;
  cursor: default;
}
.hero__slider-prev {
  left: 30px;
  background-image: url("../images/arrows/slider-left-arrow.svg");
}
.hero__slider-next {
  left: 545px;
  background-image: url("../images/arrows/slider-right-arrow.svg");
}
.hero__slider-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hero__slider-pagination-button {
  position: relative;
  background-color: inherit;
  width: 32px;
  height: 32px;
  padding: 0;
  outline: none;
  border: none;
  transition: all 0.1s;
}
.hero__slider-pagination-button:hover {
  opacity: 0.6;
}
.hero__slider-pagination-button:active {
  opacity: 0.3;
}
.hero__slider-pagination-button:focus-visible::after {
  position: absolute;
  inset: 5px;
  border: 2px solid #af4fff;
  content: "";
}
.hero__slider-pagination-button::before {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 2px solid #000000;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  content: "";
}
.hero__slider-pagination-button--active::before {
  background-color: #000000;
}
.hero__slider-current-slide {
  position: absolute;
  right: 49px;
  top: 62px;
  z-index: -1;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}
.hero__descr-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-top: 105px;
  margin-bottom: 29px;
}
.hero__descr-text {
  margin: 0;
  margin-bottom: 50px;
}
.hero__descr-link {
  margin-bottom: 50px;
  width: 220px;
}
.hero__descr-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hero__descr-item {
  max-width: 160px;
}
.hero__descr-item:not(last-child) {
  margin-right: 20px;
}
.hero__descr-value {
  font-size: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
}
.hero__descr-explanation {
  font-size: 16px;
  margin: 0;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 20px 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.goods__link {
  position: relative;
  text-decoration: none;
  color: #000000;
  outline: none;
}
.goods__link:hover .goods__image-container {
  background-color: #ffc700;
}
.goods__link:active .goods__image-container {
  opacity: 0.3;
}
.goods__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  transition: all 0.2s;
}
.goods__image-container--position--bottom {
  align-items: end;
}
.goods__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin: 0;
  margin-bottom: 14px;
}

.service {
  position: relative;
}
.service::before {
  position: absolute;
  top: 102px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #f0f0f0;
  content: "";
}
.service__container {
  display: flex;
  padding-bottom: 72px;
}
.service__tabs {
  position: relative;
  margin: 0;
  margin-right: 116px;
  padding: 0;
  list-style: none;
  width: 287px;
}
.service__tabs::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  width: 7px;
  content: "";
}
.service__tab {
  margin-bottom: 35px;
}
.service__tab:first-child {
  margin-top: 64px;
}
.service__tab:last-child {
  margin-bottom: 65px;
}
.service__tab-button {
  position: relative;
  padding: 10px 0;
  width: 160px;
}
.service__tab-button--active {
  display: flex;
  justify-content: start;
  justify-content: start;
  background-color: #000000;
  color: #ffe17f;
  padding: 10px 18px;
  padding-left: 44px;
  width: 280px;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  border: 2px solid #000000;
}
.service__tab-button--active span {
  transition: all 0.4s;
  transform: translateX(-26px);
}
.service__tab-button--active:hover span, .service__tab-button--active:active span {
  transition: all 0.4s;
  transform: translateX(26px);
}
.service__tab-button--active::before {
  display: none;
}
.service__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.service__item {
  display: none;
}
.service__item--current {
  display: flex;
}
.service__descr {
  width: 453px;
  margin-right: 106px;
}
.service__subtitle {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 73px;
  margin-bottom: 34px;
}
.service__text {
  margin: 0;
}
.service__image {
  margin-top: 78px;
}

.delivery {
  position: relative;
}
.delivery__link {
  position: relative;
  display: flex;
  text-decoration: none;
  color: #000000;
  outline: none;
}
.delivery__link::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: all 0.2s;
  background-color: #f0f0f0;
  content: "";
}
.delivery__link:active {
  opacity: 0.3;
}
.delivery__link:hover .delivery__image-container {
  background-color: #ffc700;
}
.delivery__link:hover .delivery__info-icon {
  opacity: 1;
}
.delivery__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
  transition: all 0.1s;
  background-color: #ffe17f;
}
.delivery__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  flex-grow: 1;
}
.delivery__info {
  position: absolute;
  top: 30px;
  right: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(220, 220, 220, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.delivery__info-icon {
  transition: all 0.1s;
  opacity: 0.3;
}

.about-us {
  position: relative;
}
.about-us::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 84px;
  height: 7px;
  content: "";
}
.about-us__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 48px 0;
}
.about-us__text {
  margin: 0;
  margin-bottom: 30px;
  width: 497px;
}
.about-us__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}
.about-us__item {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 19px;
  padding-left: 38px;
}
.about-us__item:last-child {
  margin-bottom: 0;
}
.about-us__item::before {
  position: absolute;
  left: 3px;
  top: 5px;
  background-color: #ffe17f;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: "";
}
.about-us__link {
  width: 270px;
}

.contacts {
  position: relative;
}
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 84px;
  height: 7px;
  content: "";
}
.contacts__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 48px 0;
}
.contacts__text {
  margin: 0;
  margin-bottom: 30px;
}
.contacts__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}
.contacts__address {
  font-style: normal;
}
.contacts__phone {
  color: #000000;
  text-decoration: none;
}
.contacts__link {
  width: 247px;
}

.mailing {
  background-color: #f0f0f0;
  padding-top: 64px;
  padding-bottom: 56px;
}
.mailing__container {
  position: relative;
}
.mailing__text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 144px;
}
.mailing__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-right: 252px;
}
.mailing__text {
  margin: 0;
}
.mailing__form {
  display: flex;
  align-items: end;
}
.mailing__input {
  width: 557px;
  padding: 11px 16px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  background-color: inherit;
  outline: none;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.mailing__input:placeholder-shown {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}
.mailing__input:focus-visible {
  background-color: #dcdcdc;
}
.mailing__input:invalid:not(:placeholder-shown) {
  border-bottom-color: #ff3d3d;
}
.mailing__submit {
  position: relative;
  width: 253px;
  background-color: inherit;
  border: 3px solid #c4c4c4;
  padding: 15px 39px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: all 0.15s;
  outline: none;
}
.mailing__submit:hover {
  border-color: #000000;
}
.mailing__submit:active {
  border-color: #000000;
  opacity: 0.3;
}
.mailing__submit:focus-visible::before {
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  border: 2px solid #af4fff;
  content: "";
}
.mailing__submit:disabled {
  opacity: 0.3;
}
.mailing__post-scriptum {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  margin-bottom: 14px;
}
.mailing__post-scriptum::after {
  position: absolute;
  top: 7px;
  left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #08af00;
  background-image: url("../images/icons/checkbox-free.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 14px;
  content: "";
}

.footer {
  position: relative;
  background-color: #444444;
  color: #ffffff;
}
.footer__container {
  display: flex;
}
.footer__left-container {
  margin-top: 62px;
  margin-right: 119px;
  width: 239px;
}
.footer__logo {
  display: inline-block;
  color: #ffc700;
  margin-bottom: 35px;
}
.footer__address {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.footer__address::before {
  position: absolute;
  left: 0;
  bottom: -64px;
  background-color: #ffc700;
  width: 80px;
  height: 7px;
  content: "";
}
.footer__central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 137px;
  margin-right: auto;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(3, 128px);
  gap: 20px 35px;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
  list-style: none;
}
.footer__link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  outline: none;
}
.footer__link:hover {
  color: #ffc700;
}
.footer__link:hover::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  background-color: #ffc700;
  height: 2px;
  content: "";
}
.footer__link:active {
  opacity: 0.3;
}
.footer__social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 61px;
}
.footer__social-item {
  margin-right: 15px;
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444444;
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s;
  outline: none;
}
.footer__social-link:hover {
  background-color: #ffc700;
}
.footer__social-link:active {
  color: rgba(68, 68, 68, 0.3);
}
.footer__right-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 140px;
}
.footer__phone {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 63px;
  outline: none;
  transition: all 0.2s;
}
.footer__phone:hover {
  color: #ffc700;
}
.footer__phone:active {
  opacity: 0.3;
}
.footer__html-academy-link {
  position: relative;
  color: #ffc700;
  outline: none;
  transition: all 0.2s;
}
.footer__html-academy-link:hover {
  color: #ffffff;
}
.footer__html-academy-link:active {
  opacity: 0.3;
}
.modal__container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.9);
}
.modal__form {
  position: relative;
  width: 920px;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 62px 70px 72px;
}
.modal__title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 42px;
}
.modal__exit {
  position: absolute;
  top: 84px;
  right: 80px;
  border: none;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: inherit;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  outline: none;
}
.modal__exit:hover {
  opacity: 0.6;
}
.modal__exit:active {
  opacity: 0.3;
}
.modal__top-container {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  margin-bottom: 42px;
}
.modal__label {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  cursor: pointer;
}
.modal__label-text {
  display: block;
  margin-bottom: 14px;
}
.modal__input {
  position: relative;
  padding: 20px;
  width: 100%;
  border: none;
  background-color: #f0f0f0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.modal__input:placeholder-shown {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.modal__input:hover:not(:disabled) {
  background-color: #dcdcdc;
}
.modal__input:focus-visible {
  z-index: 1;
  outline: 2px solid #af4fff;
}
.modal__input:disabled {
  opacity: 0.3;
}
.modal__input:invalid:not(:placeholder-shown) {
  outline: 2px solid #ff3d3d;
}
.modal__name::after {
  position: absolute;
  top: 60px;
  right: 25px;
  z-index: 2;
  background-image: url("../images/icons/account.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 12px;
  opacity: 0.3;
  content: "";
}
.modal__email-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}
.modal__email-input:invalid:not(:placeholder-shown) ~ .modal__email-text {
  color: #ff3d3d;
}
.modal__email::after {
  position: absolute;
  top: 60px;
  right: 25px;
  z-index: 2;
  width: 15px;
  height: 12px;
  opacity: 0.3;
  background-image: url("../images/icons/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.modal__tooltip {
  position: absolute;
  bottom: -170px;
  right: -25px;
  z-index: 3;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #000000;
  padding: 19px;
  width: 200px;
}
.modal__tooltip-container {
  position: absolute;
  top: -3px;
  right: 36px;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  background-image: url("../images/icons/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 8px;
}
.modal__tooltip-container:hover > .modal__tooltip {
  display: block;
}
.modal__tooltip::before {
  position: absolute;
  top: -3px;
  right: 30px;
  background-color: #000000;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  content: "";
}
.modal__bottom-container {
  display: grid;
  grid-template-columns: 540px 180px;
  column-gap: 40px;
  margin-bottom: 42px;
}
.modal__count {
  display: grid;
  grid-template-columns: repeat(3, 60px);
}
.modal__count-input {
  padding: 0;
  height: 60px;
  text-align: center;
  -moz-appearance: textfield;
}
.modal__count-input::-webkit-outer-spin-button, .modal__count-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal__count-minus {
  background-image: url("../images/icons/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.modal__count-plus {
  background-image: url("../images/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.modal__submit {
  z-index: 3;
  width: 191px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.hero {
  margin-bottom: 70px;
}

.goods {
  margin-bottom: 70px;
}

.service {
  margin-bottom: 70px;
}

.delivery {
  margin-bottom: 70px;
}

.two-blocks-container {
  display: grid;
  grid-template-columns: 520px 532px;
  gap: 0 108px;
  margin-bottom: 70px;
}