@import "./base/base";
@import "./components/header";
@import "./components/hero";
@import "./components/goods";
@import "./components/service";
@import "./components/delivery";
@import "./components/about-us";
@import "./components/contacts";

.hero {
  margin-bottom: 70px;
}

.goods {
  margin-bottom: 70px;
}

.service {
  margin-bottom: 70px;
}

.delivery {
  margin-bottom: 70px;
}

.two-blocks-container {
  display: grid;
  grid-template-columns: 520px 532px;
  gap: 0 108px;

  margin-bottom: 70px;
}
